html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--text-color-black);
  background-color: #fff;

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root{
--text-color-black:#000000;
--text-color-white:#fff;
--color-blue:#00BAFC;
--color-grey:#F3F3F3;
--color-dark:#191919;
}

/* HEADER */
